<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="proximaQuestao==1">
        <ion-card-header>
          <ion-card-subtitle>UFU-MG - Técnico em Nutrição Dietética (2019)</ion-card-subtitle>
          <ion-card-subtitle>
            <p>
              De acordo com o Guia Alimentar da População Brasileira (2014), o Ministério da Saúde traz diversas recomendações que levam em consideração os sistemas alimentares e os modos de produção de alimentos, gerenciando os princípios de uma alimentação adequada e saudável,
             configurando-se como instrumento de apoio às ações de educação alimentar e nutricional.
              Levando-se em consideração esse documento, assinale a alternativa correta.
            </p>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-radio-group [(ngModel)]="opcao">
                  <ion-item>
                    <ion-label>O Guia Alimentar baseia-se na avaliação dos nutrientes isolados por meio de estudos populacionais representativos que identificaram sua relação com o aparecimento de determinadas doenças.</ion-label>
                    <ion-radio slot="start"  value="A" color="success"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>A alimentação é uma questão restrita à escolha individual, pois, a partir do conhecimento proporcionado pelo Guia Alimentar, a população teve acesso à informação adequada sobre alimentação saudável.</ion-label>
                    <ion-radio slot="start" value="B" color="success"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>O Guia Alimentar discorre sobre acesso, custo e propaganda dos alimentos ultra processados, sugerindo seu consumo uma vez que a fabricação pode reproduzir exatamente os ingredientes e os passos das preparações culinárias.</ion-label>
                    <ion-radio slot="start"  value="C" color="success"></ion-radio>
                  </ion-item>
                  <ion-item>
                      <ion-label>O Guia Alimentar considera os nutrientes e os alimentos, seu nível de processamento, além das preparações culinárias, saberes e formas de produção tradicionais e regionais.</ion-label>
                      <ion-radio slot="start" value="D" color="success"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
          </ion-card-content>
        <ion-button expand="block" color="success" (click)="enviarResultado(opcao,'questao-1')" >Confirmar</ion-button>
      </ion-card>
      <ion-card *ngIf="proximaQuestao==2">
          <ion-card-header>
            <ion-card-subtitle>SP e MS - Nutricionista Assistente (IADES - 2019)</ion-card-subtitle>
            <ion-card-subtitle>
              <p>
                  O Guia alimentar para a população brasileira se constitui como instrumento para apoiar 
                  e incentivar práticas alimentares saudáveis no âmbito individual e coletivo, bem como para
                  subsidiar políticas, programas e ações que visem a incentivar, apoiar, proteger e promover 
                  a saúde e a segurança alimentar e nutricional da população. Acerca dos princípios que orientarama elaboração do Guia
                  alimentar para a população brasileira de 2014, assinale a alternativa correta.
              </p>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                  <ion-radio-group [(ngModel)]="opcao">
                    <ion-item>
                      <ion-label>Recomendações feitas por guias alimentares devem levar em consideração o que se espera para o futuro da população.</ion-label>
                      <ion-radio slot="start"  value="A" color="success"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>
                          O saber único e soberano gera o conhecimento para a formulação de guias alimentares.
                      </ion-label>
                      <ion-radio slot="start" value="B" color="success"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>
                          Alimentação diz respeito à ingestão de nutrientes para a promoção da saúde universal.
                      </ion-label>
                      <ion-radio slot="start"  value="C" color="success"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Alimentação adequada e saudável deriva de sistema alimentar socialmente e ambientalmente sustentável.  
                        </ion-label>
                        <ion-radio slot="start" value="D" color="success"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Guias alimentares limitam a autonomia das escolhas alimentares para alimentos comprovadamente saudáveis.
                        </ion-label>
                        <ion-radio slot="start" value="E" color="success"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
            </ion-card-content>
          <ion-button expand="block" color="success" (click)="enviarResultado(opcao,'questao-2')" >Confirmar</ion-button>
        </ion-card>
        <ion-card *ngIf="proximaQuestao==3">
            <ion-card-header>
              <ion-card-subtitle>SP e MS - Nutricionista Assistente (IADES - 2019)</ion-card-subtitle>
              <ion-card-subtitle>
                <p>
                    Quatro categorias de alimentos, definidas de acordo com o tipo de processamento empregado na respectiva produção,
                     são abrangidas pelo Guia alimentar para a população brasileira. Assinale a alternativa que indica essas categorias.
                </p>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-radio-group [(ngModel)]="opcao">
                      <ion-item>
                        <ion-label>
                            1. alimentos in natura; 2. aditivos químicos alimentares; 3. processados; 4. ultraprocessados.
                        </ion-label>
                        <ion-radio slot="start"  value="A" color="success"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>
                            1. produtos alimentícios; 2. frutas; 3. hortaliças; 4. ultraprocessados.
                        </ion-label>
                        <ion-radio slot="start" value="B" color="success"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>
                            1. alimentos in natura ou minimamente processados; 2. óleos, gorduras, sal e açúcar; 3. processados; 4. ultraprocessados.
                        </ion-label>
                        <ion-radio slot="start"  value="C" color="success"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>
                              1. alimentos in natura 2. refinados; 3. carboidratos simples; 4. ultraprocessados.
                          </ion-label>
                          <ion-radio slot="start" value="D" color="success"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>
                              1. alimentos in natura ; 2. minimamente processados; 3. processados; 4. orgânicos.
                          </ion-label>
                          <ion-radio slot="start" value="E" color="success"></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </ion-list>
              </ion-card-content>
            <ion-button expand="block" color="success" (click)="enviarResultado(opcao,'questao-3')" >Confirmar</ion-button>
          </ion-card>
          <ion-card *ngIf="proximaQuestao==4">
              <ion-card-header>
                <ion-card-subtitle>FUB - Nutricionista (CESPE - 2018)</ion-card-subtitle>
                <ion-card-subtitle>
                  <p>
                      Conforme o Guia Alimentar para a População Brasileira,os alimentos processados devem ser consumidos em pequenas quantidades,
                       pois os produtos fabricados pela indústria alteram, desfavoravelmente, a composição nutricional dos alimentos.
                  </p>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-list>
                      <ion-radio-group [(ngModel)]="opcao">
                        <ion-item>
                          <ion-label>
                              Certo
                          </ion-label>
                          <ion-radio slot="start"  value="A" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>
                              Errado
                          </ion-label>
                          <ion-radio slot="start" value="B" color="success"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                </ion-card-content>
              <ion-button expand="block" color="success" (click)="enviarResultado(opcao,'questao-4')" >Confirmar</ion-button>
            </ion-card>
            <ion-card *ngIf="proximaQuestao==5">
                <ion-card-header>
                  <ion-card-subtitle>FUB - Nutricionista (CESPE - 2018)</ion-card-subtitle>
                  <ion-card-subtitle>
                    <p>
                        Conforme o Guia Alimentar para a População Brasileira, alimentos in natura são obtidos diretamente de plantas ou de animais sem sofrerem nenhuma alteração;
                         já os minimamente processados são aqueles que passam por agregação de sal, açúcar, óleos ou gorduras depois que deixam a natureza.
                    </p>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-radio-group [(ngModel)]="opcao">
                          <ion-item>
                            <ion-label>
                                Certo
                            </ion-label>
                            <ion-radio slot="start"  value="A" color="success"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>
                                Errado
                            </ion-label>
                            <ion-radio slot="start" value="B" color="success"></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                      </ion-list>
                  </ion-card-content>
                <ion-button expand="block" color="success" (click)="enviarResultado(opcao,'questao-5')" >Confirmar</ion-button>
              </ion-card>
</ion-content>
